body
{
    margin-top:80px;
    -webkit-text-size-adjust: 100%;
}

.row
{
    margin-bottom:10px;
}

footer
{
    margin-top:80px;

    .copyright
    {
        padding:10px;
        text-align: center;
    }
}